@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.home {
    background-image: url('../assets/image2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}